
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <p>系统发生异常，请联系管理员</p>
    <p>异常信息：@ViewData["Msg"]</p>
</body>
</html>
