@{
}
<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
                <cite>导航元素</cite>
            </a>

        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px">页面刷新</i>
        </a>
        
        <a class="layui-btn layui-btn-small" id="refreshtable" style="line-height:1.6em;margin-top:3px;float:right" title="表格刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px">局部刷新</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <!-- 提交表单搜索 -->
                        @*<form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>*@
                        <!-- ajax搜索 -->
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="begindate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="enddate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="username_s" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="states_s" name="username" placeholder="状态" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" id="sreach_s" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>

                    </div>

                    <div class="layui-card-header">
                        <button class="layui-btn" onclick="xadmin.open('添加用户','MemberAdd',600,400)"><i class="layui-icon"></i>添加</button>
                    </div>

                    <!--表3，从script获取数据，适用于复杂表格，id是表格标识，lay-filter是监听器标识-->
                    <div class="layui-card-body ">
                        <table id="demo1" lay-filter="test1"></table>
                    </div>

                    <!--表1，从controller获取数据，适用于简单表格-->
                    <div class="layui-card-body ">
                        <table class="layui-table" lay-data="{url:'/MemberList_Dynamic/GetData',page:true,toolbar: '#toolbarDemo',id:'test',limit:10,}" lay-filter="test">
                            <thead>
                                <tr>
                                    <th lay-data="{type:'checkbox'}">123</th>
                                    <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                                    <th lay-data="{field:'username', width:120, sort: true, edit: 'text'}">用户名</th>
                                    <th lay-data="{field:'sex',  minWidth: 150,templet: '#switchTpl'}">性别</th>
                                    <th lay-data="{field:'city', width:80,edit: 'text',}">城市</th>
                                    <th lay-data="{field:'sign', edit: 'text', minWidth: 100}">签名</th>
                                    <th lay-data="{field:'experience', sort: true, edit: 'text'}">积分</th>
                                    <th lay-data="{field:'score', sort: true, edit: 'text'}">评分</th>
                                    <th lay-data="{field:'classify', sort: true, edit: 'text'}">职业</th>
                                    <th lay-data="{field:'wealth', sort: true, edit: 'text'}">财产</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script type="text/html" id="switchTpl">
    <!-- 这里的checked的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo" {{ d.id == 10003 ? 'checked': ''}}>
</script>

<!-- 展示 -->
<script>
    var tableIns;
    layui.use(['form', 'layedit', 'laydate', 'element', 'jquery', 'table'], function () {
        var table = layui.table;

        //第一个实例
        tableIns = table.render({
            elem: '#demo1'//对应表格的id标识
            , url: '/MemberList_Dynamic/GetJsonData' //数据controller
            , page: true //开启分页
            , limit: 5 
            , toolbar: '#toolbarDemo'
            , limits: [3, 5, 10]
            , method: 'get'//默认get
            , title: '测试表格'
            , cols: [[ //表头
                { type: 'numbers', fixed: 'left', title: '序号' }
                , { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', sort: true, fixed: 'left',width:100 }
                , { field: 'username', title: '用户名',width:100 }
                , {
                    field: 'sex', title: '性别', templet: function (d) {
                        return d.sex == "男" ? "男人" : "女人";
                    }, width: 100
                }
                , { field: 'tel', title: '手机', sort: true, width: 100 }
                , { field: 'addr', title: '地址', width: 100 }
                , { field: 'states', title: '状态', sort: true, width: 105 }
                , { title: '操作', align: 'center', toolbar: '#barDemo1', width: 200 }
            ]]
            , done: function (res) {
                //获取数据完成后执行的区域，如提示获取完成等
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                
            }
            , request: {
                //原值为：?page=1&limit=30
                //修改后分页请求参数为：?curr=1&nums=30
                //pageName: 'curr' //页码的参数名称，默认为：page
                //, limitName: 'nums' //每页数据量的参数名，默认为：limit
            }
        });

        //ajax重新加载表格,内部调用法
        $('#refreshtable').on('click', function () {
            table.reload('demo1')
        });
    });

    //ajax重新加载表格，外部调用法
    //$('#refreshtable').on('click', function () {
    //    tableIns.reload()
    //});

    // 搜索功能，ajax刷新表格
    // 搜索功能其实是重新加载表格数据，使用的是前面定义的tableIns对象，调用的是action
    // 在加载数据时，将参数传递到地址为/MemberList_Dynamic/GetJsonData方法，完成查询
    $('#sreach_s').on('click', function () {
        tableIns.reload({
            where: {
                //搜索回传参数
                username: $('#username_s').val(),
                states: $('#states_s').val()
            }
            , page: {
                curr: 1//刷新后要显示的页码,不定义参数刷新后则显示当前页
            }
        });
    });
</script>

 @*搜索功能 
<script>
    var tableIns;
    layui.use(['form', 'layedit', 'laydate', 'element', 'jquery', 'table'], function () {
        var table = layui.table;

        //第一个实例
        tableIns = table.render({
            elem: '#demo1'//对应表格的id标识
            , url: '/MemberList_Dynamic/GetJsonDataSreach' //数据controller
            , page: true //开启分页
            , limit: 5
            , toolbar: '#toolbarDemo'
            , limits: [3, 5, 10]
            , method: 'get'//默认get
            , title: '测试表格'
            , cols: [[ //表头
                { type: 'numbers', fixed: 'left', title: '序号' }
                , { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', sort: true, fixed: 'left' }
                , { field: 'username', title: '用户名' }
                , {
                    field: 'sex', title: '性别', templet: function (d) {
                        return d.sex == "男" ? "男人" : "女人";
                    }
                }
                , { field: 'tel', title: '手机', sort: true }
                , { field: 'addr', title: '地址' }
                , { field: 'states', title: '状态', sort: true }
                , { title: '操作', align: 'center', toolbar: '#barDemo1', width: 200 }
            ]]
            , done: function (res) {
                //获取数据完成后执行的区域，如提示获取完成等
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度

            }
            , request: {
                //原值为：?page=1&limit=30
                //修改后分页请求参数为：?curr=1&nums=30
                //pageName: 'curr' //页码的参数名称，默认为：page
                //, limitName: 'nums' //每页数据量的参数名，默认为：limit
            }
        });

    });

    //ajax重新加载表格，外部调用法
    //$('#refreshtable').on('click', function () {
    //    tableIns.reload()
    //});


    // 搜索功能，ajax刷新表格
    $('#sreach_s').on('click', function () {
        tableIns.reload({
            where: {
                //搜索回传参数
                username: $('#username_s').val(),
                states: $('#states_s').val()
            }
            , page: {
                curr: 1//刷新后要显示的页码,不定义参数刷新后则显示当前页
            }
        });
    });
</script>*@

<!-- 定义头部 -->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData"> 获取选中行数据 </button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">批量删除条数</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll"> 验证是否全选</button>
    </div>
</script>

<!--定义工具条内容-->
<script type="text/html" id="barDemo1">
    <!-- lay-event定义触发的时间类型 -->
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    @*<a title="编辑" onclick="xadmin.open('编辑','MemberEdit/id=1?ID=1&username=1',600,400)" href="javascript:;">
            <i class="layui-icon">&#xe642;</i>
        </a>
        <a onclick="xadmin.open('修改密码','MemberPassword',600,400)" title="修改密码" href="javascript:;">
            <i class="layui-icon">&#xe631;</i>
        </a>
        <a title="删除" onclick="member_del(this,'1')" href="javascript:;">
            <i class="layui-icon">&#xe640;</i>
        </a>*@
</script>

<!-- 监听工具条 -->
<script>
    layui.use('table',
        function () {
            var table = layui.table;
            //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            table.on('tool(test1)', function (obj) { 
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                //debugger
                var str = "id=" + data.id
                    + "&username=" + data.username
                    + "&sex=" + data.sex
                    + "&tel=" + data.tel
                    + "&addr=" + data.addr
                    + "&states=" + data.states;
                if (layEvent === 'detail') { //查看按钮
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                    //xadmin.open('编辑', 'MemberEdit/?' + str, 600, 400)
                } else if (layEvent === 'del') { //删除
                    layer.confirm('真的删除行么', function (index) {
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        //layer.close(index);
                        debugger;
                        //向服务端发送删除指令
                            
                        $.ajax({
                            type: "get",
                            url: "/MemberList_Dynamic/Delete",
                            data: { "id": data.id },
                            dataType: "text",
                            success: function (data) {
                                if (data == "false") {
                                    layer.alert("删除失败或数据不存在", { icon: 5 })
                                    return false;
                                }
                                else {
                                    //界面样式:单条删除效果
                                    layer.msg('已删除!', { icon: 1, time: 1000 });
                                }
                            }
                        });

                    });
                } else if (layEvent === 'edit') { //编辑
                    xadmin.open('编辑', 'MemberEdit/?' + str, 600, 400)
                    //同步更新缓存对应的值
                    obj.update({
                        username: data.username
                        , id: data.id
                        , sex: data.sex
                        , tel: data.tel
                        , addr: data.addr
                        , states: data.states
                    });
                } else if (layEvent === 'LAYTABLE_TIPS') {
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                }
            });
        })
</script>

<!-- 日期选择框样式 -->
<script>
    layui.use('laydate',
        function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#begindate' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#enddate' //指定元素
            });

        });
</script>

<!-- 监听表头功能键 -->
<script>
    layui.use('table',
        function () {
            var table = layui.table;
            debugger
            //监听内容单元格编辑
            table.on('edit(test1)',
                function (obj) {
                    var value = obj.value //得到修改后的值
                        , data = obj.data //得到所在行所有键值
                        , field = obj.field; //得到字段
                    layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
                });

            //头工具栏事件
            table.on('toolbar(test1)',
                function (obj) {
                    debugger;
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'getCheckData':
                            var data = checkStatus.data;
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            var ids = [];
                            for (i = 0; i < data.length; i++) {
                                ids.push(data[i].id);
                            }
                            layer.msg('选中了：' + data.length + ' 个，id为：' + ids);
                            layer.confirm('确认要删除吗？', function (index, obj) {
                                $.ajax({
                                    type: "POST",
                                    url: "/MemberList_Dynamic/DeleteAll",
                                    data: { "ids": ids },
                                    dataType: "text",
                                    success: function (data) {
                                        if (data == "false") {
                                            layer.alert("删除失败或数据不存在", { icon: 5 })
                                            return false;
                                        }
                                        else {
                                            //界面样式:单条删除效果
                                            layer.msg('已删除!', { icon: 1, time: 1000 });
                                            table.reload('demo1')
                                        }
                                    }
                                });

                            });
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    };
                });
        });
</script>

<script>
    layui.use('table',
        function () {
            var table = layui.table;
            debugger
            //监听内容单元格编辑
            table.on('edit(test)',
                function (obj) {
                    var value = obj.value //得到修改后的值
                        , data = obj.data //得到所在行所有键值
                        , field = obj.field; //得到字段
                    layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
                });

            //头工具栏事件
            table.on('toolbar(test)',
                function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'getCheckData':
                            var data = checkStatus.data;
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    };
                });
        });
</script>

