@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>layedit demo</title>

    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/Plug-in/ace/ace.js"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">会员管理</a>
            <a>
                <cite>会员列表</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <div class="layui-card-body " @*style="display:none" *@>
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="begintime">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="endtime">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username" placeholder="请输入用户名" id="username" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select name="optionEvent" placeholder="状态" id="states">
                                    <option value="已停用">已停用</option>
                                    <option value="已启用">已启用</option>
                                    <option value="ALL">ALL</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="" onclick="Refresh();"><i class="layui-icon">&#xe615;</i></button>
                                <input type="button" style="height:27px;width:60px" value="查询" class="ui_input_btn01" onclick="Refresh1(); " />
                            </div>
                        </form>
                    </div>


                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>保存</button>
                        <button id="RunCode" class="layui-btn" onclick="getContent1()"><i class="layui-icon"></i>运行</button>
                    </div>


                    <div class="layui-card-body layui-table-body layui-table-main">
                        <div>
                            <textarea id="layeditDemo"></textarea>
                        </div>
                    </div>

                    <div class="layui-card-body layui-table-body layui-table-main">
                        <div>输出结果</div>
                        <div>
                            <textarea id="layeditDemo1" style="width:100%;height:300px"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script>
        //ieditor_data;
        layui.use(['layedit', 'layer', 'jquery'], function () {
            var $ = layui.jquery;
            var layedit = layui.layedit;
            layedit.set({
                //暴露layupload参数设置接口 --详细查看layupload参数说明
                uploadImage: {
                    url: '/Attachment/LayUploadFile',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: '10240'
                }
                , uploadVideo: {
                    url: '/Attachment/LayUploadFile',
                    accept: 'video',
                    acceptMime: 'video/*',
                    exts: 'mp4|flv|avi|rm|rmvb',
                    size: '20480'
                }
                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
                //传递参数：
                //图片： imgpath --图片路径
                //视频： filepath --视频路径 imgpath --封面路径
                , calldel: {
                    url: '/Attachment/DeleteFile'
                }
                //开发者模式 --默认为false
                , devmode: true
                //插入代码设置
                , codeConfig: {
                    hide: true,  //是否显示编码语言选择框
                    default: 'javascript' //hide为true时的默认语言格式
                }
                , tool: [
                    'html', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video', 'anchors'
                    , '|', 'fullScreen'
                ]
                , height: '100%'
            });
            var ieditor = layedit.build('layeditDemo');
            //ieditor_data = ieditor;

            $("#RunCode").on('click', function () {                //alert(layedit.getContent(ieditor));                code = layedit.getText(ieditor);
                $.ajax({
                    type: "POST",
                    url: "/PythonIDE/Run",
                    data: { "code": code, },
                    dataType: "json",
                    success: function (data) {
                        //$("#layeditDemo1")
                        debugger;
                        $("#layeditDemo1").val(data);
                    }
                });
            })

        })
        
        


        /** 获取文本数据 **/
        function getContent() {
            debugger;
            layedit.getContent(ieditor_data);
        }


    </script>
</body>
</html>