@{
}
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Plug-in/ace/ace.js"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">会员管理</a>
            <a>
                <cite>会员列表</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">



                    <blockquote class="layui-elem-quote">
                        <p style="color:red;font-size:14px;">PythonIDE目前不支持自定义函数，每行代码之间请用分号“;”结尾。复制以下Python示例可直接运行:</p>
                        <p style="color:forestgreen;font-size:14px;">示例1.计算</p>
                        a = 1; b = 2;<br />
                        c = a + b;<br />
                        print('运算结果 = '+str(c));<br />
                        <p style="color:forestgreen;font-size:14px;">示例2.循环</p>
                        for letter in 'Python':print ('当前字母 :'+ letter);
                    </blockquote>

                    <div class="layui-card-header">


                        <button id="SaveContent" class="layui-btn"><i class="layui-icon">&#xe654;</i>保存</button>
                        <button id="RunText" class="layui-btn layui-btn-danger"><i class="layui-icon">&#xe642;</i>运行</button>
                        <button id="RunScript" class="layui-btn layui-btn-danger"><i class="layui-icon">&#xe642;</i>运行脚本</button>
                    </div>


                    <div class="layui-card-body layui-table-body layui-table-main">

                        <div>
                            <textarea id="layeditDemo" placeholder="Just go go"></textarea>
                        </div>
                    </div>

                    <div class="layui-card-body layui-table-body layui-table-main">
                        <div>输出结果</div>
                        <div>
                            <textarea id="layeditDemo1" style="width:100%;height:300px;font-family: sans-serif;font-size:16px;" placeholder="输出结果...."></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script>
        layui.use(['layedit', 'layer', 'jquery'], function () {
            var $ = layui.jquery;
            var layedit = layui.layedit;
            layedit.set({
                //暴露layupload参数设置接口 --详细查看layupload参数说明
                uploadImage: {
                    url: '/Attachment/LayUploadFile',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: '10240'
                }
                , uploadVideo: {
                    url: '/Attachment/LayUploadFile',
                    accept: 'video',
                    acceptMime: 'video/*',
                    exts: 'mp4|flv|avi|rm|rmvb',
                    size: '20480'
                }
                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
                //传递参数：
                //图片： imgpath --图片路径
                //视频： filepath --视频路径 imgpath --封面路径
                , calldel: {
                    url: '/Attachment/DeleteFile'
                }
                //开发者模式 --默认为false
                , devmode: true
                //插入代码设置
                , codeConfig: {
                    hide: true,  //是否显示编码语言选择框
                    default: 'javascript' //hide为true时的默认语言格式
                }
                , tool: [
                    'html', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video', 'anchors'
                    , '|', 'fullScreen'
                ]
                , height: '100%'
            });
            var ieditor = layedit.build('layeditDemo');

            //获取纯文本
            $("#RunText").on('click', function () {
                //alert(layedit.getContent(ieditor));
                code = layedit.getText(ieditor);
                $.ajax({
                    type: "POST",
                    url: "/PythonIDE/RunText",
                    data: { "code": code, },
                    dataType: "json",
                    success: function (data) {
                        alert('执行完成，结果已返回。');
                        $("#layeditDemo1").val(data);
                    }
                });
            });

            //获取带格式的文本
            $("#SaveContent").on('click', function () {
                code = layedit.getContent(ieditor);
                $.ajax({
                    type: "POST",
                    url: "/PythonIDE/RunContent",
                    data: { "code": "" },
                    dataType: "json",
                    success: function (data) {
                        alert("暂不支持代码保存，内容如下：" + code);
                        //alert('执行完成，结果已返回。');
                        //$("#layeditDemo1").val(data);
                    }
                });
            });

            //运行后台模板脚本
            $("#RunScript").on('click', function () {
                code = layedit.getText(ieditor);
                $.ajax({
                    type: "POST",
                    url: "/PythonIDE/RunScript",
                    data: { "code": code, },
                    dataType: "json",
                    success: function (data) {
                        alert('执行完成，结果已返回。');
                        $("#layeditDemo1").val(data);
                    }
                });
            });

        })


    </script>
</body>
</html>